<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="inventEntities" connectionString="metadata=res://*/InventModel.csdl|res://*/InventModel.ssdl|res://*/InventModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;database=invent&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>